h4{
    text-align: center;
padding-bottom: 20px;
}
.hr{
margin-bottom: 5rem;
}
hr{
  margin: 0 25%;
}
.text{
text-align: left;
margin: 0 17px;
letter-spacing: 0.8px;
font-family: 'Oswald', Arial, sans-serif;
color:#9c9c9c;
}
.img-align{
margin-left: 0.7vh;
width:97%;
max-width: 700px;
  
}
#implantes{
  margin-top: 5.4rem;
  font-family: 'Quattrocento', Arial, sans-serif;
}
#carillas{
  margin-top:5.4rem;
  font-family: 'Quattrocento', Arial, sans-serif;
}
#equipo{
  margin-top: 5.4rem;
}
#other{
  margin-top: 5.4rem;
  font-family: 'Quattrocento', Arial, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.snip1376 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
margin-left: 1.5rem;

}
.snip1376 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1376 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1376 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
  position: relative;
}
.snip1376 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1376 h2,
.snip1376 p {
  margin: 0 0 10px;
}
.snip1376 h2 {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.snip1376 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1376 .icons {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e6e6e6;
  width: 100%;
  text-align: center;
}
.snip1376 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 24px;
  color: #141414;
  opacity: 0.65;
}
.snip1376 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}



/* MEDIAQUERYS */
@media screen and (min-width: 767px) {
  .rspnv-equipo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
.rspnv-servicios{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.rspnv-cabecera{
  display: none;
}


#tratamientos{
  font-size: 4vh;
}
#equipo{
  font-size: 4vh;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(70vh - 80px);
  background-color: white;
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  background-color: white;
}
.image-gallery-thumbnails {
  padding: 0;
}
.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
  display: none !important;
}
.snip1376 {
  min-width: 230px;
  max-width: 515px;
  font-size: 24px;
}
#tratamientos{
  margin-top: 14rem;
}
#implantes{
  font-size: 1.9em;
}
#carillas{
  font-size: 1.9em;
}

#other{ font-size: 1.9em;
}

  }
  @media screen and (max-width: 767px) {
hr{
  display: none;
}

  }
 