*{
  margin:0;
  padding: 0;
}
.navbar {
  z-index: 9;
}
@import "~react-image-gallery/styles/css/image-gallery.css";
/* WASAP2 */
/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: white;
  color: black;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 0;
}
.carousel{
  max-height: 200px;
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  background-color: white;
}
@media (max-width: 768px){
.image-gallery-thumbnails {

    padding: 0;
}
}
.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
}
@media screen and (min-width: 767px) {
 .rspnv-carousel{
   max-width: 1500px;
 }
}
